{{ range site.Data.pods }}
	{{ $name := .name }}
	{{ $page := dict
		"kind" "page"
		"title" (printf "Namespace: %q" $name)
		"path" $name
		"params" (dict
			"data" .
		)
	}}
	{{ $.AddPage $page }}

	{{ range .containers }}
		{{ $path := replace (replace .imageID ":" "") "/" "_" }}
		{{ $mapkey := (replace .imageID "/" "_") }}
		{{ $scratch := newScratch }}

		{{ $page := dict
			"kind" "page"
			"title" (printf "Image: %q" .imageID)
			"path" (printf "%s/%s" $name $path)
			"layout" "imageid"
			"params" (dict
				"imageID" .imageID
				"image" .image
				"name" $name
				"grype" (index site.Data.grype $mapkey)
				"trivy" (index site.Data.trivy $mapkey)
				"grypeLastUpdate" (os.Stat (printf "static/data/grype/%s.json.zst" $mapkey)).ModTime
				"trivyLastUpdate" (os.Stat (printf "static/data/trivy/%s.json.zst" $mapkey)).ModTime
				"grypeRawLink" (printf "../../../data/grype/%s.json.zst" $mapkey)
				"trivyRawLink" (printf "../../../data/trivy/%s.json.zst" $mapkey)
			)
		}}
		{{ $.AddPage $page }}
	{{ end }}
{{ end }}


