:root {
	--primaryColor: #007bff;
}

html, body {
	margin: 0;
	padding: 0;
}

html, body {
	display: flex;
	flex-direction: column;
	font-family: Arial;
	font-size: 16px;
	min-height: 100vh;

	> header {
		align-items: center;
		background-color: slategray;
		display: flex;
		justify-content: space-between;
		padding: 0;

		a {
			color: black;
		}

		> h1 {
			margin: 2rem;
		}

		> nav ul {
			list-style: none;
			margin: 0 2rem;
			padding: 0;
		}
	}

	> footer {
		background-color: slategray;
		padding: 1rem;
		text-align: right;

		a {
			color: black;
		}
	}

	> main {
		flex: 1;
		padding: 1rem;

		> article {
			h1, h2, p {
				margin: 2rem 1rem 0 1rem;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		div.lastmod {
			float: right;
			font-size: smaller;
			margin: 0 1rem 0 0;
		}

		> section {
			border: 1px solid silver;
			border-radius: 20px;
			margin: 1rem;
			padding: 1rem;

			> h2 {
				margin: 1rem 0 0.5rem 0;
			}

			> table {
				border-collapse: collapse;
				margin-bottom: 2rem;
				width: 100%;

				> tbody > tr {
					&:nth-child(odd) {
						background-color: #ececec;
					}
				}

				tr > td,
				tr > th {
					border: 1px solid silver;
					padding: 0.5rem;
				}

				tr > td:nth-child(2),
				tr > td:nth-child(3) {
					font-size: 0.9rem;
					max-width: 300px;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				tr td:last-child {
					text-align: center;
				}
			}
		}
	}
}

a {
	color: var(--primaryColor);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul.cves {
	border: 1px solid silver;
	padding: 0;
	margin: 1rem;

	li {
		margin: 0;
		padding: 1rem;

		list-style: none;

		&:nth-child(odd) {
			background-color: #ececec;
		}

		> a {
			text-transform: uppercase;
		}
	}
}
