{{ define "main" }}
	<section>
		{{ $vulns := index (where site.Sections "Title" "Vulnerabilities") 0 }}

		{{ with site.Data.pods }}
			{{ range . }}
				{{ $namespace := .namespace }}
				{{ $containers := len .containers }}
				{{ $warnings := 0 }}
				{{ range where $vulns.Pages "Params.namespace" $namespace }}
					{{ $warnings = add $warnings (len .Params.grype ) (len .Params.trivy ) }}
				{{ end }}

				<h2>Namespace: {{ .namespace }} <a href="{{ .Permalink }}#{{ $namespace }}" name="{{ $namespace }}">#</a></h2>

				<table>
					<caption>{{ $containers }} container(s) and {{ $warnings }} warning(s)</caption>
					<thead>
						<tr>
							<th>Container Name</th>
							<th>Image</th>
							<th>Image ID</th>

						</tr>
					</thead>
					{{ with .containers }}
						<tbody>
							{{ range . }}
								<tr>
									<td>{{ .name }}</td>
									<td>{{ .image }}</td>
									<td>
										<a href="vulnerabilities/{{ $namespace }}/{{ replace (replace .imageID ":" "") "/" "_" }}">{{ .imageID }}</a>
									</td>
								</tr>
							{{ end }}
						</tbody>
					{{ end }}
				</table>
			{{ end }}
		{{ end }}
	</section>
{{ end }}
