{{ define "main" }}
	<section>
		{{- $vulns := index (where site.Sections "Title" "Vulnerabilities") 0 }}

		{{- with site.Data.pods }}
			{{- range . }}
				{{- $name := .name }}
				{{- $containers := len .containers }}
				{{- $warnings := 0 }}
				{{- $cves := slice }}
				{{- range where $vulns.Pages "Params.name" $name -}}
					{{- if .Params.imageID }}
						{{- $warnings = add $warnings (len .Params.grype) (len .Params.trivy) }}
						{{- range .Params.grype }}{{ $cves = $cves | append .id }}{{ end }}
						{{- range .Params.trivy }}{{ $cves = $cves | append .id }}{{ end }}
						{{- $cves = $cves | uniq }}
					{{- end }}
				{{- end }}

				<h2>{{ .type }}: {{ .name }} <a href="{{ .RelPermalink }}#{{ $name }}" name="{{ $name }}">#</a></h2>

				<table>
					<caption>
						{{- $containers }} container{{ if gt $containers 1 }}s{{ end -}}
						{{- with $warnings -}}
							, {{ . }} warning{{ if gt $warnings 1 }}s{{ end }} and {{ len $cves }} unique CVE{{ if gt (len $cves) 1 }}s{{ end }}
						{{- else -}}
							(no warnings)
						{{- end -}}
					</caption>
					<thead>
						<tr>
							<th>Container Name</th>
							<th>Image</th>
							<th>Image ID</th>
							<th>Count</th>
						</tr>
					</thead>
					{{ with .containers }}
						<tbody>
							{{- range . }}
								<tr>
									<td>{{ .name }}</td>
									<td>{{ .image }}</td>
									{{ with .imageID -}}
									<td>
										<a href="vulnerabilities/{{ $name }}/{{ replace (replace . ":" "") "/" "_" }}">{{ . }}</a>
									</td>
									<td>
										{{- add
											(len (index site.Data.grype (replace . "/" "_")))
											(len (index site.Data.trivy (replace . "/" "_")))
										-}}
									</td>
									{{- else }}
										<td>Undefined (is it running?)</td>
										<td>0</td>
									{{- end }}
								</tr>
							{{- end }}
						</tbody>
					{{- end }}
				</table>
			{{- end }}
		{{- end }}
	</section>
{{- end }}
